extends layout

block content
  main
     section#a-Us
        .a-message
          p #{errorSignIn}
          h1 About Us
          br
          h2
            | Your Trusted Full-Service 
            font(color='var(--blue') FURNITURE.CA
          br
          p
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, doloribus facilis vitae omnis nemo esse itaque id tempore tenetur expedita!
        img(src='./images/about-image.jpg' alt='About-Image')